.app.dark {
  background-color: #111;
  color: rgb(156, 156, 156);

  input {
    color: white;
  }

  .chartGrid {
    stroke: rgba(228, 228, 228, 0.219);
  }

  .table {
    background-color: orange;
    height: 100%;

    .tableCell {
      color: lightgray;
    }
  }

  .navbar {
    color: #999;
    border-color: #333;

    .search {
      border-color: gray;
    }

    input {
      color: white;
    }
  }

  .sidebar {
    background-color: #111;
    border-color: #333;

    .top {
      .logo {
        color: #a52a2a;
      }
    }
    hr {
      border-color: #333;
    }

    ul {
      li {
        &:hover {
          background-color: #333;
        }

        .icon {
          color: #0069aa;
        }
      }
    }
  }

  form {
    input {
      color: white;
    }
  }

  .datatableUsers {
    .datagrid {
      color: gray;

      .MuiTablePagination-toolbar {
        color: gray;
      }
      .MuiIconButton-colorInherit {
        color: gray;
      }

      span {
        color: gray;
      }

      .MuiDataGrid-root,
      .MuiDataGrid-columnHeader:focus,
      .MuiDataGrid-root,
      .MuiDataGrid-cell:focus,
      .MuiDataGrid-cell--textLeft,
      .MuiDataGrid-cellCheckbox,
      .MuiDataGrid-columnHeaderTitleContainer {
        outline: none !important;
      }

      .viewButton {
        background-color: #111;
        border: 1px solid blue;
      }
      .deleteButton {
        background-color: #111;
        border: 1px solid red;
      }

      .cellWithStatus {
        padding: 5px;
        border-radius: 5px;

        &.active {
          background-color: #111;
          border: 1px solid green;
          color: green;
        }
        &.pending {
          background-color: #111;
          border: 1px solid goldenrod;
          color: goldenrod;
        }
        &.deactivated {
          background-color: #111;
          border: 1px solid crimson;
          color: crimson;
        }
      }
    }
  }

  .menuProfile {
    background-color: black;
    -webkit-box-shadow: 5px 5px 22px 5px rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 22px 5px rgba(255, 255, 255, 0.1);
  }
  .menuProfile::before {
    background-color: black;
  }

  .datatableClicks {
    .datagrid {
      color: lightgray;

      .MuiTablePagination-toolbar {
        color: gray;
      }
      .MuiIconButton-colorInherit {
        color: gray;
      }

      span {
        color: gray;
      }
    }
  }

  input {
    background-color: transparent;
  }
}
